<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account</title>
</head>
<body>
<h1>Create an Account</h1>
    <div class="container">
        <div class="form-group">
            <form action="{{ url_for('create') }}" method="post" autocomplete="off">
            <p>Enter your Full Name</p>
            <input type="text" class="form-control" name="fullname" id="fullname"  placeholder="Enter your Full Name"/>
            <p>Enter your Username</p>
            <input type="text" placeholder="Enter Username" name="username" required>
            <p>Enter your Password</p>
            <input type="password" class="form-control" name="password" placeholder="Password" id="password" required  placeholder="Enter your Password"/>
            <p>Reenter your Password</p>
            <input type="password" placeholder="Retype Password" name="repword" required>
            <p>Enter your Email</p>
            <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
        <br>
        <br>
        <input type="submit" name="submit_button" value="Submit">
        </form>
        </div>
    </div>
</body>
</html>