<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account</title>
</head>
<body>
<h1>Create an Account</h1>
    <div class="container">
        <p>Enter your Full Name</p>
        <input type="text" placeholder="Enter Full Name" name="name" required>
        <p>Enter your Username</p>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <p>Enter your Password</p>
        <input type="password" placeholder="Enter Password" name="pword" required>
        <p>Reenter your Password</p>
        <input type="password" placeholder="Retype Password" name="repword" required>
        <p>Enter your Email</p>
        <input type="email" placeholder="Enter Email" name="mail" required>
        <br>
        <br>
        <button href="/main" type="submit">Submit</button>
    </div>
</body>
</html>